---
http_interactions:
- request:
    method: get
    uri: http://openapi.etsy.com/v2/users/johnmaddux?api_key=zq28pq66whj2cp3tfy9lqz6x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9601'
      X-Etsy-Request-Uuid:
      - eByMFMybhWO9wtC7U4C28RMatLzL
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"results":[{"user_id":34003418,"login_name":"johnmaddux","creation_tsz":1369856645,"referred_by_user_id":null,"feedback_info":{"count":0,"score":null}}],"params":{"user_id":"johnmaddux"},"type":"User","pagination":{}}'
  recorded_at: Wed, 05 Jun 2013 20:29:31 GMT
- request:
    method: get
    uri: http://openapi.etsy.com/v2/users/34003418/favorites/listings?api_key=zq28pq66whj2cp3tfy9lqz6x&limit=12&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9600'
      X-Etsy-Request-Uuid:
      - U2dpDMNohQaWUqe_QVQw4UPB7oh8
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"count":18,"results":[{"listing_id":119352771,"user_id":34003418,"listing_state":"active","create_date":1369932351,"state":"active","creation_tsz":1369932351,"favorite_listing_id":null},{"listing_id":121136141,"user_id":34003418,"listing_state":"active","create_date":1369932346,"state":"active","creation_tsz":1369932346,"favorite_listing_id":null},{"listing_id":103253606,"user_id":34003418,"listing_state":"active","create_date":1369932280,"state":"active","creation_tsz":1369932280,"favorite_listing_id":null},{"listing_id":150263973,"user_id":34003418,"listing_state":"active","create_date":1369932223,"state":"active","creation_tsz":1369932223,"favorite_listing_id":null},{"[...]
- request:
    method: get
    uri: http://openapi.etsy.com/v2/listings/119352771?api_key=zq28pq66whj2cp3tfy9lqz6x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9599'
      X-Etsy-Request-Uuid:
      - MhQ9rYGkIxghXsAeA2jbL1m1TCtO
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"results":[{"listing_id":119352771,"state":"active","user_id":20513122,"category_id":68891054,"title":"2
        Flasks, Groomsmen Flasks, Personalized Groomsmen Gifts, Engraved Stainless
        Steel Flasks, Best Man Gift, 2 Flasks","description":"From groomsmen gifts,
        to birthdays and parties, our personalized flasks will help you celebrate
        in style! Designed to carry liquor, our 6 oz. black, powder coated flasks
        are made of stainless steel. Our state-of-the-art laser engraves the powder
        coating resulting in a durable, beautiful silver finish, which shines in any
        light. Each personalized flask includes a deluxe black velvet pouch adding
        that unique touch of appreciation for that special da[...]
- request:
    method: get
    uri: http://openapi.etsy.com/v2/listings/119352771/images?api_key=zq28pq66whj2cp3tfy9lqz6x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9598'
      X-Etsy-Request-Uuid:
      - utIZdlvgS5Z4-QWh25T1eky8Sta8
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"count":2,"results":[{"listing_image_id":429471227,"hex_code":"3D3D3B","red":61,"green":61,"blue":59,"hue":60,"saturation":3,"brightness":23,"is_black_and_white":false,"creation_tsz":1361314780,"listing_id":119352771,"rank":1,"url_75x75":"http:\/\/img3.etsystatic.com\/014\/0\/6815820\/il_75x75.429471227_9buy.jpg","url_170x135":"http:\/\/img3.etsystatic.com\/014\/0\/6815820\/il_170x135.429471227_9buy.jpg","url_570xN":"http:\/\/img3.etsystatic.com\/014\/0\/6815820\/il_570xN.429471227_9buy.jpg","url_fullxfull":"http:\/\/img3.etsystatic.com\/014\/0\/6815820\/il_fullxfull.429471227_9buy.jpg","full_height":667,"full_width":691},{"listing_image_id":429471125,"hex_code":"42413F","red":66,"green":65,"blue":63,"hue":40,"saturation":4,"brightness":25,"is_black_and_white":false,"creation_tsz":1361314780,"listing_id":119352771,"rank":2,"url_75x75":"http:\/\/img1.etsystatic.com\/011\/0\/6815820\/il_75x75.429471125_7vrl.jpg","url_170x135":"http:\/\/img1.etsystatic.com\/011\/0\/6815820\/il_170x135.429471125_7vrl.jpg","url_570xN":"http:\/\/img1.etsystatic.com\/011\/0\/6815820\/il_570xN.429471125_7vrl.jpg","url_fullxfull":"http:\/\/img1.etsystatic.com\/011\/0\/6815820\/il_fullxfull.429471125_7vrl.jpg","full_height":667,"full_width":691}],"params":{"listing_id":"119352771"},"type":"ListingImage","pagination":{}}'
  recorded_at: Wed, 05 Jun 2013 20:29:31 GMT
[...]
- request:
    method: get
    uri: http://openapi.etsy.com/v2/listings/151665957?api_key=zq28pq66whj2cp3tfy9lqz6x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9589'
      X-Etsy-Request-Uuid:
      - 5rY78-DyQU_esXFsXQcIGwAf9LEQ
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"results":[{"listing_id":151665957,"state":"active","user_id":18860923,"category_id":68891976,"title":"15
        Wooden Beer mugs 0,8 l (27oz) , natural wood, stainless steel inside,groomsmen
        gift","description":"it is set of 15 mugs.\r\n\r\nThis handcrafted beer mug
        is made from real oak wood.\r\nThe inside of mug of stainless steel.\r\nCan
        be used for hot and cold drinks.\r\n If you need more quantity, please convo
        me via Etsy conversation.\r\n \r\n\r\nShipping to U.S takes 10-14 days.\r\nI
        will provide a tracking number for each parcel.","creation_tsz":1369801082,"ending_tsz":1380427200,"original_creation_tsz":1369018690,"last_modified_tsz":1369801083,"price":"240.00","currency_code":"USD","quantity":1,"tags":["mug","beer","wood","handmade","ukraine","souvenirs","gifts","bar","wooden
        tableware","cooperage","gift groomsman","groomsmen gift","Best Man"],"category_path":["Woodworking","Housewares"],"category_path_ids":[68887388,68891976],"materials":["wood","stainless
        Steel"],"shop_section_id":12926714,"featured_rank":0,"state_tsz":1369801083,"url":"http:\/\/www.etsy.com\/listing\/151665957\/15-wooden-beer-mugs-08-l-27oz-natural?utm_source=craftable&utm_medium=api&utm_campaign=api","views":28,"num_favorers":2,"processing_min":4,"processing_max":7,"who_made":"collective","is_supply":"false","when_made":"made_to_order","is_private":false,"recipient":"men","occasion":"wedding","style":["Woodland"],"non_taxable":false,"is_digital":false,"file_data":"","has_variations":true}],"params":{"listing_id":"151665957"},"type":"Listing","pagination":{}}'
  recorded_at: Wed, 05 Jun 2013 20:29:34 GMT
[...]
- request:
    method: get
    uri: http://openapi.etsy.com/v2/listings/151794557?api_key=zq28pq66whj2cp3tfy9lqz6x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9585'
      X-Etsy-Request-Uuid:
      - IlGqfufzW1n69Jt0lR2zoTDSt83e
      X-Cnection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"count":1,"results":[{"listing_id":151794557,"state":"active","user_id":10837644,"category_id":68888924,"title":"Personalized
        Playing Cards with Monogram- Chevron- Groomsmen Gift","description":"Love
        to play cards? Now you can personalize your own set or give as a gift. Many
        colors and patterns to choose from. \r\n\r\nPlease leave in the Notes to Seller
        box:\r\n\r\n** Pattern Choice\r\n** Frame Choice\r\n** Pattern Color Choice
        & Frame Color Choice\r\n** Monogram Style\r\n** Monogram, as you want it to
        appear\r\n\r\nWhile we do attempt to reproduce colors as closely as possible,
        due to different monitor resolutions and settings we cannot guarantee an exact
        color match for all colors shown in the above preview.","creation_tsz":1369947796,"ending_tsz":1380513600,"original_creation_tsz":1369143634,"last_modified_tsz":13[...]
[...]
