<br><br><br><br>

<div id="main_home">
  <h1>Crafty</h1>

  <p>Crafty lets you survey your friends to find out which of your favorite Etsy items they like best.</p>

  <p>Enter your Etsy username to get started:</p>

  <%= form_tag("/polls", method: "post", class: "form") do %>
    <%= text_field_tag(:username) %>
    <%= submit_tag("Go!", class: "btn btn-large btn-success") %>
  <% end %>

  <span id="hidden">
    <h4>Loading items from Etsy.... Please wait.</h4>
  </span>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $("#hidden").hide();
    $(".form").submit(function(event){
      $("#hidden").show();
    });
  });
</script>
