<div id="main_home">
  <h1>Crafty</h1>

  <p>Crafty lets you survey your friends to find out which of your favorite Etsy items they like best.</p>

  <p>Enter your Etsy username to get started:</p>

  <%= form_tag("/polls", method: "post") do %>
    <%= label_tag(:username, "Etsy username:") %>
    <%= text_field_tag(:username) %>
    <%= submit_tag("Go!") %>
  <% end %>
</div>
