

<br><br><br>

<table border="2">
  <tr>
    <th>Image</th>
    <th>Rating</th>
    <th>Times Voted On</th>
  </tr>
  <% @results.each do |item| %>
    <tr>
      <td><%= image_tag item.item_image_urls.first.medium_url %></td>
      <td><%= item.rating %></td>
      <td><%= item.times_rated %></td>
    </tr>
  <% end %>
</table>
