// Place all the styles related to the Poll controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{

}
#main_home{
  height: 400px;
  padding-top: 200px;
  text-align: center;
  width: 60%;
  margin: auto;
}
p{
  font-size: 170%;
  margin-bottom: 17px;
}
