// Place all the styles related to the Poll controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#results_table{
  text-align: center;
  margin: auto;
}
.span4{
  background-color: #22dd22;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}
#main_home{
  background-color: #22cc22;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  width: 60%;
  margin: auto;
}
p{
  font-size: 170%;
  margin-bottom: 17px;
}
#success{
  background-color: #22cc22;
  width: 300px;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  padding: 25px;
}
