// Place all the styles related to the Poll controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: lightblue;
}
.big_box{
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  width: 70%;
}
#main_home{
  height: 400px;
  padding-top: 200px;
  text-align: center;
  width: 60%;
  margin: auto;
}
p{
  font-size: 170%;
  margin-bottom: 17px;
}
