<h1>Create a Poll from all your favorited Etsy items</h1>

<%= form_tag("/polls", method: "post") do %>
  <%= label_tag(:username, "Etsy username:") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag("Create Poll") %>
<% end %>
